.sidenav{
    height: 100%;
    width: 18%;
    position: fixed; 
    /* z-index: 1;  */
    top: 48px; 
    left: 0; 
    background-color:#232323; 
    transition: .5s ease; 
    overflow-x: hidden; 
    padding-top: 20px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.verticalradiobuttons{
    
    
}
.verticalradiobuttons div {
    display: block;
    padding: 0 0 5px 5px;
    clear: both;
  }
  
  .verticalradiobuttons span {
    display: block;
    padding-left: 20px;
    cursor: inherit;
  }
  
  .verticalradiobuttons label {
    font-size: rem-calc(16);
  }
  
  .verticalradiobuttons input {
    
    float: left;
    width: 20px;
    margin-left: -20px;
    margin-top: 6px; 
    padding: 0;
    -webkit-appearance: radio;
  }
  .fieldsetProperties{
    border-color: #232323;
    border-style: solid;
  }